<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="locale" Name="locale">
                <Component Id="FreeShip.cn.po" Guid="{2F449CA3-99FB-4927-8912-697E28250FD3}">
                    <File Id="FreeShip.cn.po" KeyPath="yes" Source="$(var.locale)\FreeShip.cn.po" />
                </Component>
                <Component Id="FreeShip.cs.po" Guid="{2DCDEEA7-83E5-4AF8-96CD-EBE3DF86244D}">
                    <File Id="FreeShip.cs.po" KeyPath="yes" Source="$(var.locale)\FreeShip.cs.po" />
                </Component>
                <Component Id="FreeShip.de.po" Guid="{68916941-1B41-4A59-B2E8-7B1F686E7613}">
                    <File Id="FreeShip.de.po" KeyPath="yes" Source="$(var.locale)\FreeShip.de.po" />
                </Component>
                <Component Id="FreeShip.en.po" Guid="{88829A5F-7382-4267-A0F2-4F23D0681BAC}">
                    <File Id="FreeShip.en.po" KeyPath="yes" Source="$(var.locale)\FreeShip.en.po" />
                </Component>
                <Component Id="FreeShip.es.po" Guid="{171335FC-1A71-41A3-B150-EC505F9739FF}">
                    <File Id="FreeShip.es.po" KeyPath="yes" Source="$(var.locale)\FreeShip.es.po" />
                </Component>
                <Component Id="FreeShip.fi.po" Guid="{779D7C25-E8B8-4519-AE84-C02B4178DB4D}">
                    <File Id="FreeShip.fi.po" KeyPath="yes" Source="$(var.locale)\FreeShip.fi.po" />
                </Component>
                <Component Id="FreeShip.fr.po" Guid="{83C7928B-1012-4DAD-BF68-C57456C0F892}">
                    <File Id="FreeShip.fr.po" KeyPath="yes" Source="$(var.locale)\FreeShip.fr.po" />
                </Component>
                <Component Id="FreeShip.it.po" Guid="{8182082B-9DB0-49B2-A666-E4DD6422A94B}">
                    <File Id="FreeShip.it.po" KeyPath="yes" Source="$(var.locale)\FreeShip.it.po" />
                </Component>
                <Component Id="FreeShip.nl.po" Guid="{24ADD237-5D8F-44D3-9D43-991DDDE97958}">
                    <File Id="FreeShip.nl.po" KeyPath="yes" Source="$(var.locale)\FreeShip.nl.po" />
                </Component>
                <Component Id="FreeShip.no.po" Guid="{D22610A4-035F-4713-98D9-19C04A48D06D}">
                    <File Id="FreeShip.no.po" KeyPath="yes" Source="$(var.locale)\FreeShip.no.po" />
                </Component>
                <Component Id="FreeShip.pot" Guid="{821B942E-5462-4182-8466-42B3F6314E70}">
                    <File Id="FreeShip.pot" KeyPath="yes" Source="$(var.locale)\FreeShip.pot" />
                </Component>
                <Component Id="FreeShip.ru.po" Guid="{C6AD9200-BA2A-4772-B6A9-06B3E9CD77DB}">
                    <File Id="FreeShip.ru.po" KeyPath="yes" Source="$(var.locale)\FreeShip.ru.po" />
                </Component>
                <Component Id="FreeShip.uk.po" Guid="{24365264-7AB1-4C89-A8A0-93C2E27AC2DA}">
                    <File Id="FreeShip.uk.po" KeyPath="yes" Source="$(var.locale)\FreeShip.uk.po" />
                </Component>
                <Component Id="FreeShip.vi.po" Guid="{C1E239DC-F933-44BC-8925-1044B278FF7E}">
                    <File Id="FreeShip.vi.po" KeyPath="yes" Source="$(var.locale)\FreeShip.vi.po" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="locale">
            <ComponentRef Id="FreeShip.cn.po" />
            <ComponentRef Id="FreeShip.cs.po" />
            <ComponentRef Id="FreeShip.de.po" />
            <ComponentRef Id="FreeShip.en.po" />
            <ComponentRef Id="FreeShip.es.po" />
            <ComponentRef Id="FreeShip.fi.po" />
            <ComponentRef Id="FreeShip.fr.po" />
            <ComponentRef Id="FreeShip.it.po" />
            <ComponentRef Id="FreeShip.nl.po" />
            <ComponentRef Id="FreeShip.no.po" />
            <ComponentRef Id="FreeShip.pot" />
            <ComponentRef Id="FreeShip.ru.po" />
            <ComponentRef Id="FreeShip.uk.po" />
            <ComponentRef Id="FreeShip.vi.po" />
        </ComponentGroup>
    </Fragment>
</Wix>