Package: freeship
Version: 4.3.2.191
Provides: freeship
Architecture: amd64
Depends: libatk1.0-0, libc6, libc6-i386, libc6-x32, libcairo2, libgdk-pixbuf2.0-0, libglib2.0-0, libgtk2.0-0, libmagic1, libpango-1.0-0, libpangocairo-1.0-0, libx11-6 
Source: freeship
Section: science
Priority: optional
Maintainer: markmal <markmal@github.com>
#Build-Depends: debhelper (>= 8.0.0), lazarus (>=1.4.0), libqt4pas-dev, git, libgl1-mesa-dev, inkscape, imagemagick
#Standards-Version: 3.9.4
Installed-Size: 108004
Homepage: https://github.com/markmal/freeship-plus-in-lazarus
Origin: https://github.com/markmal/freeship-plus-in-lazarus
#Vcs-Git: git://github.com/markmal/freeship-plus-in-lazarus.git
#Vcs-Browser: https://github.com/markmal/freeship-plus-in-lazarus
Description: FREE!ship plus is a program for designing and analysing ships yachts and boats.
 FREE!ship Plus in Lazarus is further development of the FREE!ship Plus
 (by http://www.hydronship.net ) Windows program with free source code FREE!ship
 v3.x under license GNU GPL.
 This FREE!ship Plus application is migrated into free open source Lazarus /
 Free Pascal environment to promote further development in various platforms and
 for various platforms (OS and architectures).
 FREE!ship Plus is designed for the full parametric analysis of resistance and
 power prediction for a ship and other calculations of hydrodynamics of vessels
 and underwater vehicles. FREE!ship Plus allows the designer to simulate and
 analyze condition of balance of a complex completely hull - rudders - keels -
 engine - propellers in different regimes and of service conditions of a ship.
 The analyzable system includes a hull, appendages, a propeller and the engine
 (i.e. resistance, power, a thrust and a torque), and also various service
 conditions (heaving, a wind, a shallow-water effect, a regime of tow / pushing,
 etc...) refer to http://www.hydronship.net for full description.
