colorpicker_32 CURSOR Cursors/colorpicker-32.cur
colorpicker_48 CURSOR Cursors/colorpicker-48.cur
rotate2d_32 CURSOR Cursors/rotate2d-32.cur
rotate2d_48 CURSOR Cursors/rotate2d-48.cur
rotate3d_32 CURSOR Cursors/rotate3d-32.cur
rotate3d_48 CURSOR Cursors/rotate3d-48.cur
setline_32 CURSOR Cursors/setline-32.cur
setline_48 CURSOR Cursors/setline-48.cur
setorigin_32 CURSOR Cursors/setorigin-32.cur
setorigin_48 CURSOR Cursors/setorigin-48.cur
setpoint_32 CURSOR Cursors/setpoint-32.cur
setpoint_48 CURSOR Cursors/setpoint-48.cur
setscale_32 CURSOR Cursors/setscale-32.cur
setscale_48 CURSOR Cursors/setscale-48.cur
setspline_32 CURSOR Cursors/setspline-32.cur
setspline_48 CURSOR Cursors/setspline-48.cur
smallcross_32 CURSOR Cursors/smallcross-32.cur
smallcross_48 CURSOR Cursors/smallcross-48.cur
